* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: url(clear_sky.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    gap: 50px;

}

#search {
    height: 20px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

#city_name {
    font-size: 30px;
}
#date_time {
    font-size: 20px;
}
#center_info {
    height: 70px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#degrees {
    font-size: 35px;
}

#info {
    font-size: 20px;
}
.week_info {
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}


.day {
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day_name {
    font-size: 20px;
}
.day_temperature {
    width: 75px;
    display: flex;
    font-size: 18px;
    justify-content: space-around;
}

.weather_icon {
    height: 70px;
    width: 70px;
}