html, body {
    margin: 0;
    height: 100%;
}

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    gap: 50px;

}

#center_info {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.week_info {
    display: flex;
}

.day_temperature {
    display: flex;
}