* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: linear-gradient(blue,#0B72C1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5vh;

}
#upper_info {
    width: 85%;
    height: 22vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}


#left_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}

#search {
    height: 20px;
    width: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar {
    height: 25px;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: 0;
}

::placeholder {
    color: white;
    opacity: 60%;
}

#searchButton {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#cityName {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 30px;
    margin-left: 5px;
}


#date_time {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 25px;
    margin-left: 5px;
}

#description {
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px black;
    margin-left: 5px;
}

#reporter {
    height: 20vh;
    width: 11vw;
    margin-top: 1vh;
}

#center_info {
    color: white;
    text-shadow: 1px 1px black;
    height: 20vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-top: 0px;
}

#degrees {
    font-size: 55px;
}


#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5vw;
    height: 20vh;
    width: 20vw;
}

#latertoday{
    color: white;
    font-size: 25px;
    margin-right: 60%;
    text-shadow: 1px 1px black;
    margin-bottom: 20px;
}


.hour_info {
    height: 20vh;
    width: 70%;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 1vh;
    box-shadow: 0 0 10px black;
}


.hour_square {
    height: 20vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.temp {
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    font-size: 1.5vw;
    
}

.hour {
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    font-size: 1.5vw;
    
}

.picture {
    height: 65px;
    width: 65px;
}

#thisweek {
    margin-top: 5vh;
    color: white;
    font-size: 25px;
    margin-right: 58%;
    text-shadow: 1px 1px black;
}
.week_info {
    width: 90%;
    height: 10vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.day {
    border: 2px solid white;
    border-radius: 20%;
    height: 22vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px black;
}

.day_name {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 1.5vw;
}
.day_temperature {
    width: 8vw;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}

.min_temperature {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 1.5vw;
}

.max_temperature {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 1.5vw;
}

.weather_icon {
    height: 100px;
    width: 100px;
}

#weatherImage {
    height: 125px;
    width: 125px;
}

#test {
    height: 30px;
    width: 60px;
    background-color: black;
}