* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: linear-gradient(blue,#0B72C1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;

}

#search {
    height: 20px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

#cityName {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 30px;
    margin-top: 30px;
}
#date_time {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 20px;
    margin-top: 30px;
}
#center_info {
    color: white;
    text-shadow: 1px 1px black;
    height: 70px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 50px;
    margin-top: 30px;
}

#degrees {
    font-size: 55px;
}

#info {
    font-size: 25px;
}

#later{
    color: white;
    font-size: 25px;
    margin-right: 1200px;
}


.hour_info {
    height: 200px;
    width: 1400px;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px black;
}


.hour_square {
    height: 200px;
    width: 175px;
}

.temp {
    color: white;
    text-shadow: 1px 1px black;
    height: 100px;
    width: 175px;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
}

.hour {
    color: white;
    text-shadow: 1px 1px black;
    height: 100px;
    width: 175px;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
}

#thisweek {
    margin-top: 30px;
    color: white;
    font-size: 25px;
    margin-right: 1200px;
}
.week_info {
    width: 90%;
    height: 300px;
    width: 1400px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


.day {
    border: 2px solid white;
    border-radius: 20%;
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px black;
}

.day_name {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 30px;
}
.day_temperature {
    width: 120px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}

.min_temperature {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 25px;
}

.max_temperature {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 25px;
}

.weather_icon {
    height: 100px;
    width: 100px;
}

#weatherImage {
    height: 125px;
    width: 125px;
}